<%= stylesheet_link_tag 'shared/header', media: 'all', 'data-turbolinks-track': 'reload' %>

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  
  <script type="text/javascript" src="https://js.pay.jp/v2/pay.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="top-page-header">
    <div class="search-bar-contents">
      <%= link_to root_path do %>
        <%= image_tag "furima-logo-color.png", class: "furima-icon" %>
      <% end %>
      <%= form_with url: "#", local: true, class: "search-form" do |f| %>
        <%= f.text_field :keyword, class: "input-box", placeholder: "キーワードから探す" %>
        <button class="search-button">
          <%= image_tag "search.png", class: "search-icon" %>
        </button>
      <% end %>
    </div>

    <div class="nav">
      <ul class="lists-left">
        <li><%= link_to 'カテゴリー', '#', class: 'category-list' %></li>
        <li><%= link_to 'ブランド', '#', class: 'brand-list' %></li>
      </ul>
      <ul class="lists-right">
        <% if user_signed_in? %>
          <li class="user-nickname"><%= current_user.nickname %></li>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'login' %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'sign-up' %></li>
        <% end %>
      </ul>
    </div>
  </header>
</body>